In [1]:
print('hello world')

hello world

<h1> Ivhel Stupid game because Im bored</h1>

In [4]:
##### import random

def guess_number():
    number_to_guess = random.randint(1, 100)
    attempts = 0
    print("Welcome to the Number Guessing Game!")
    print("I'm thinking of a number between 1 and 100.")

    while True:
        try :    
            guess = eval(input("Take a guess: "))
            attempts += 1
        
            if guess < 0:
                print('Hey I said between 1 and 100 why go low??')
            elif guess < number_to_guess:
                print("Too low! Try again.")
            elif guess > 100:
                print('Hey I said Up to 100 why go high??')
            elif guess > number_to_guess:
                print("Too high! Try again.")
            else:
                print(f"Congratulations! You've guessed the number {number_to_guess} in {attempts} attempts.")
                break
        except ValueError:
            print("I said number nothing else stupid!! continue...")
        except NameError:
            print("I said number nothing else stupid!! continue...")

if __name__ == "__main__":
    guess_number()

Welcome to the Number Guessing Game!
I'm thinking of a number between 1 and 100.

Take a guess:  524

Hey I said Up to 100 why go high??

Take a guess:  -2

Hey I said between 1 and 100 why go low??

Take a guess:  2

Too low! Try again.

Take a guess:  5

Too high! Try again.

Take a guess:  3

Congratulations! You've guessed the number 3 in 5 attempts.

In [12]:
import random

def main():
    words = ["apple", "banana", "cherry", "date", "fig", "grape", ""]
    chosen_word = random.choice(words)
    attempts = 5
    guessed = False

    print("Welcome to the Guessing Game!")
    print("You have 5 attempts to guess the word.")
    print("This is your choices:", words)

    while attempts > 0 and not guessed:
        guess = input("Enter your guess: ").lower()
        
        if guess == chosen_word:
            guessed = True
            print(f"Congratulations! You've guessed the word: {chosen_word}")
        else:
            attempts -= 1
            print(f"Wrong guess! You have {attempts} attempts left.")

    if not guessed:
        print(f"Sorry, you've run out of attempts. The word was: {chosen_word}")

if __name__ == "__main__":
    main()

Welcome to the Guessing Game!
You have 5 attempts to guess the word.
This is your choices: ['apple', 'banana', 'cherry', 'date', 'fig', 'grape', '']

Enter your guess:  dfas

Wrong guess! You have 4 attempts left.

Enter your guess:  fa

Wrong guess! You have 3 attempts left.

Enter your guess:  fa

Wrong guess! You have 2 attempts left.

Enter your guess:  fa

Wrong guess! You have 1 attempts left.

Enter your guess:  fa

Wrong guess! You have 0 attempts left.
Sorry, you've run out of attempts. The word was: cherry

<h1>Importing and start of the activity</h1>

In [4]:
import numpy as np
import seaborn as sbs
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
birds = pd.read_csv('datasets\\penguins.csv')

In [6]:
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [7]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [8]:
birds.describe()

,rowid,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,342.000000,342.000000,342.000000,342.000000,344.000000
mean,172.500000,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,99.448479,5.459584,1.974793,14.061714,801.954536,0.818356
min,1.000000,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,86.750000,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,172.500000,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,258.250000,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,344.000000,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [9]:
birds.describe().T

,count,mean,std,min,25%,50%,75%,max
rowid,344.0,172.500000,99.448479,1.0,86.750,172.50,258.25,344.0
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.50,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.70,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.00,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.00,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.00,2009.0

<h1> Filtering data based from clums</h1>

In [10]:
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [11]:
birds['body_mass_g']

0      3750.0
1      3800.0
2      3250.0
3         NaN
4      3450.0
        ...
339    4000.0
340    3400.0
341    3775.0
342    4100.0
343    3775.0
Name: body_mass_g, Length: 344, dtype: float64

In [12]:
birds['species']

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: object

In [13]:
birds['species'].values

array(['Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap'], dtype=object)

In [14]:
birds['species'].count()

np.int64(344)

<h1>Creating New Columns</h1>

In [15]:
birds['weight'] = np.round(birds['body_mass_g'] / 1000, 2)

In [16]:
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.75
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.80
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.25
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.45
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.00
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.40
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.78
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.10
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.78

<h1> Checking for Null Values</h1>

In [17]:
birds.isnull()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,True,True,True,True,False,True
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
339,False,False,False,False,False,False,False,False,False,False
340,False,False,False,False,False,False,False,False,False,False
341,False,False,False,False,False,False,False,False,False,False
342,False,False,False,False,False,False,False,False,False,False
343,False,False,False,False,False,False,False,False,False,False

In [18]:
birds.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
weight                2
dtype: int64

In [19]:
birds.isnull().sum().count()

np.int64(10)

In [20]:
birds['body_mass_g'].mean()

np.float64(4201.754385964912)

In [21]:
birds['sex'].mode()

0    male
Name: sex, dtype: object

<h1>CREATING NEW COLUMNS</h1>

In [22]:
birds['weight_kilo'] = round(birds['body_mass_g'] / 1000, 1)

In [23]:
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight,weight_kilo
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.75,3.8
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.80,3.8
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.25,3.2
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.45,3.4
...,...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.00,4.0
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.40,3.4
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.78,3.8
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.10,4.1
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.78,3.8

<h1>Deleting Column</h1>

In [24]:
birds.drop(columns= 'weight_kilo')

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.75
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.80
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.25
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.45
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.00
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.40
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.78
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.10
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.78

In [25]:
birds.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
weight                2
weight_kilo           2
dtype: int64

<h1>What to do with null values</h1>

options

delete the entire row

In [26]:
birds['bill_length_mm'].mean()

np.float64(43.9219298245614)

In [27]:
birds['bill_length_mm'].median()

np.float64(44.45)

In [28]:
birds['bill_length_mm'].mode()

0    41.1
Name: bill_length_mm, dtype: float64

In [29]:
birds['bill_length_mm'] = birds['bill_length_mm'].fillna(birds['bill_length_mm'].mean())

In [30]:
birds.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
weight                2
weight_kilo           2
dtype: int64

In [31]:
birds['sex'].mode()

0    male
Name: sex, dtype: object

In [32]:
birds['sex'] = birds['sex'].fillna(birds['sex'].mode()[0])

In [33]:
birds.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        2
flipper_length_mm    2
body_mass_g          2
sex                  0
year                 0
weight               2
weight_kilo          2
dtype: int64

In [34]:
birds['bill_depth_mm'].mean()
birds['flipper_length_mm'].mean()
birds['body_mass_g'].mean()
birds['weight'].mean()
birds['weight_kilo'].mean()

np.float64(4.202046783625731)

In [35]:
birds['bill_depth_mm'] = birds['bill_depth_mm'].fillna(birds['bill_depth_mm'].mean())
birds['flipper_length_mm'] = birds['flipper_length_mm'].fillna(birds['flipper_length_mm'].mean())
birds['body_mass_g'] = birds['body_mass_g'].fillna(birds['body_mass_g'].mean())
birds['weight'] = birds['weight'].fillna(birds['weight'].mean())
birds['weight_kilo'] = birds['weight_kilo'].fillna(birds['weight_kilo'].mean())

In [36]:
birds.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
weight               0
weight_kilo          0
dtype: int64

In [37]:
birds['rowid'] = birds['rowid'].astype('category')
birds['species'] = birds['species'].astype('category')
birds['island'] = birds['island'].astype('category')
birds['sex'] = birds['sex'].astype('category')
birds['year'] = birds['year'].astype('category')

In [38]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    category
 1   species            344 non-null    category
 2   island             344 non-null    category
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    category
 8   year               344 non-null    category
 9   weight             344 non-null    float64
 10  weight_kilo        344 non-null    float64
dtypes: category(5), float64(6)
memory usage: 29.6 KB

In [39]:
birds.head(25)

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight,weight_kilo
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.750000,3.800000
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.800000,3.800000
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.250000,3.200000
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.201784,4.202047
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.450000,3.400000
5,6,Adelie,Torgersen,39.30000,20.60000,190.000000,3650.000000,male,2007,3.650000,3.600000
6,7,Adelie,Torgersen,38.90000,17.80000,181.000000,3625.000000,female,2007,3.620000,3.600000
7,8,Adelie,Torgersen,39.20000,19.60000,195.000000,4675.000000,male,2007,4.680000,4.700000
8,9,Adelie,Torgersen,34.10000,18.10000,193.000000,3475.000000,male,2007,3.480000,3.500000
9,10,Adelie,Torgersen,42.00000,20.20000,190.000000,4250.000000,male,2007,4.250000,4.200000
10,11,Adelie,Torgersen,37.80000,17.10000,186.000000,3300.000000,male,2007,3.300000,3.300000
11,12,Adelie,Torgersen,37.80000,17.30000,180.000000,3700.000000,male,2007,3.700000,3.700000
12,13,Adelie,Torgersen,41.10000,17.60000,182.000000,3200.000000,female,2007,3.200000,3.200000
13,14,Adelie,Torgersen,38.60000,21.20000,191.000000,3800.000000,male,2007,3.800000,3.800000
14,15,Adelie,Torgersen,34.60000,21.10000,198.000000,4400.000000,male,2007,4.400000,4.400000
15,16,Adelie,Torgersen,36.60000,17.80000,185.000000,3700.000000,female,2007,3.700000,3.700000
16,17,Adelie,Torgersen,38.70000,19.00000,195.000000,3450.000000,female,2007,3.450000,3.400000
17,18,Adelie,Torgersen,42.50000,20.70000,197.000000,4500.000000,male,2007,4.500000,4.500000
18,19,Adelie,Torgersen,34.40000,18.40000,184.000000,3325.000000,female,2007,3.320000,3.300000
19,20,Adelie,Torgersen,46.00000,21.50000,194.000000,4200.000000,male,2007,4.200000,4.200000
20,21,Adelie,Biscoe,37.80000,18.30000,174.000000,3400.000000,female,2007,3.400000,3.400000
21,22,Adelie,Biscoe,37.70000,18.70000,180.000000,3600.000000,male,2007,3.600000,3.600000
22,23,Adelie,Biscoe,35.90000,19.20000,189.000000,3800.000000,female,2007,3.800000,3.800000
23,24,Adelie,Biscoe,38.20000,18.10000,185.000000,3950.000000,male,2007,3.950000,4.000000
24,25,Adelie,Biscoe,38.80000,17.20000,180.000000,3800.000000,male,2007,3.800000,3.800000

In [40]:
birds.tail(15)

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight,weight_kilo
329,330,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009,4.05,4.0
330,331,Chinstrap,Dream,42.5,17.3,187.0,3350.0,female,2009,3.35,3.4
331,332,Chinstrap,Dream,52.2,18.8,197.0,3450.0,male,2009,3.45,3.4
332,333,Chinstrap,Dream,45.2,16.6,191.0,3250.0,female,2009,3.25,3.2
333,334,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009,4.05,4.0
334,335,Chinstrap,Dream,50.2,18.8,202.0,3800.0,male,2009,3.80,3.8
335,336,Chinstrap,Dream,45.6,19.4,194.0,3525.0,female,2009,3.52,3.5
336,337,Chinstrap,Dream,51.9,19.5,206.0,3950.0,male,2009,3.95,4.0
337,338,Chinstrap,Dream,46.8,16.5,189.0,3650.0,female,2009,3.65,3.6
338,339,Chinstrap,Dream,45.7,17.0,195.0,3650.0,female,2009,3.65,3.6
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.00,4.0
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.40,3.4
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.78,3.8
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.10,4.1
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.78,3.8

In [41]:
birds['sex'] == 'male'

0       True
1      False
2      False
3       True
4      False
       ...
339     True
340    False
341     True
342     True
343    False
Name: sex, Length: 344, dtype: bool

In [42]:
birds[birds['sex'] == 'male']['sex'].count()

np.int64(179)

In [43]:
birds.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,weight,weight_kilo
count,344.000000,344.000000,344.000000,344.000000,344.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,4.201784,4.202047
std,5.443643,1.969027,14.020657,799.613058,0.799582,0.800744
min,32.100000,13.100000,172.000000,2700.000000,2.700000,2.700000
25%,39.275000,15.600000,190.000000,3550.000000,3.550000,3.600000
50%,44.250000,17.300000,197.000000,4050.000000,4.050000,4.000000
75%,48.500000,18.700000,213.000000,4750.000000,4.750000,4.800000
max,59.600000,21.500000,231.000000,6300.000000,6.300000,6.300000

<h1>Most species on each island</h1>

In [44]:
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight,weight_kilo
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.750000,3.800000
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.800000,3.800000
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.250000,3.200000
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.201784,4.202047
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.450000,3.400000
...,...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.000000,4.000000
340,341,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.400000,3.400000
341,342,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.780000,3.800000
342,343,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.100000,4.100000
343,344,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.780000,3.800000

In [45]:
birds['island'].unique

<bound method Series.unique of 0      Torgersen
1      Torgersen
2      Torgersen
3      Torgersen
4      Torgersen
         ...
339        Dream
340        Dream
341        Dream
342        Dream
343        Dream
Name: island, Length: 344, dtype: category
Categories (3, object): ['Biscoe', 'Dream', 'Torgersen']>

In [46]:
birds['species'].unique

<bound method Series.unique of 0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: category
Categories (3, object): ['Adelie', 'Chinstrap', 'Gentoo']>

<h1>Penguin Species</h1>
<h2>1. Is there a Specific Species that Live's in specific Island</h2>

In [47]:
adelie_biscoe = birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Biscoe')]
adelie_dream = birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Dream')]
adelie_Torgersen = birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Torgersen')]

Chinstrap_biscoe = birds[(birds['species'] == 'Chinstrap') & (birds['island'] == 'Biscoe')]
Chinstrap_dream = birds[(birds['species'] == 'Chinstrap') & (birds['island'] == 'Dream')]
Chinstrap_Torgersen = birds[(birds['species'] == 'Chinstrap') & (birds['island'] == 'Torgersen')]

Gentoo_biscoe = birds[(birds['species'] == 'Gentoo') & (birds['island'] == 'Biscoe')]
Gentoo_dream = birds[(birds['species'] == 'Gentoo') & (birds['island'] == 'Dream')]
Gentoo_Torgersen = birds[(birds['species'] == 'Gentoo') & (birds['island'] == 'Torgersen')]

<h1>1.1. Adelie</h1>

In [48]:
adelie_biscoe.count()

rowid                44
species              44
island               44
bill_length_mm       44
bill_depth_mm        44
flipper_length_mm    44
body_mass_g          44
sex                  44
year                 44
weight               44
weight_kilo          44
dtype: int64

In [49]:
adelie_dream.count()

rowid                56
species              56
island               56
bill_length_mm       56
bill_depth_mm        56
flipper_length_mm    56
body_mass_g          56
sex                  56
year                 56
weight               56
weight_kilo          56
dtype: int64

In [50]:
adelie_Torgersen.count()

rowid                52
species              52
island               52
bill_length_mm       52
bill_depth_mm        52
flipper_length_mm    52
body_mass_g          52
sex                  52
year                 52
weight               52
weight_kilo          52
dtype: int64

<h1>Insight 1: The data shows that Adelie does not have specific Island they live</h1>

<h1>1.2. Chinstrap</h1>

In [51]:
Chinstrap_biscoe.count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
weight               0
weight_kilo          0
dtype: int64

In [52]:
Chinstrap_dream.count()

rowid                68
species              68
island               68
bill_length_mm       68
bill_depth_mm        68
flipper_length_mm    68
body_mass_g          68
sex                  68
year                 68
weight               68
weight_kilo          68
dtype: int64

In [53]:
Chinstrap_Torgersen.count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
weight               0
weight_kilo          0
dtype: int64

<h1>Insight 2: The data shows that Chinstrap live specifically in Dream Island</h1>

<h1>1.3. Gentoo</h1>

In [54]:
Gentoo_biscoe.count()

rowid                124
species              124
island               124
bill_length_mm       124
bill_depth_mm        124
flipper_length_mm    124
body_mass_g          124
sex                  124
year                 124
weight               124
weight_kilo          124
dtype: int64

In [55]:
Gentoo_dream.count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
weight               0
weight_kilo          0
dtype: int64

In [56]:
Gentoo_Torgersen.count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
weight               0
weight_kilo          0
dtype: int64

<h1>Insight 3: The data shows that Gentoo live specifically in Biscoe Island</h1>

<h2>Insight 1-3: Even though there's Adelie species in all 3 island, the data show's that Chinstrap only Lives in dream Island and Gentoo Lives only on Biscoe Island</h2>

In [57]:
Adelie = birds[birds['species'] == 'Adelie']
Chinstrap = birds[birds['species'] == 'Chinstrap']
Gentoo = birds[birds['species'] == 'Gentoo']

<h1>Extra:</h1>
<h2>Do Penguin Species affect the length of the their fliffers</h2>

In [58]:
np.round(Adelie['flipper_length_mm'].mean(), 1)

np.float64(190.0)

In [59]:
np.round(Chinstrap['flipper_length_mm'].mean(), 1)

np.float64(195.8)

In [60]:
np.round(Gentoo['flipper_length_mm'].mean(), 1)

np.float64(217.1)

<h2>Insight Extra: The data proved that the species does affect the length of a penguins Flippers, which Gentoo having the longest Flippers, next is Chintrap and then Adelie with the shortest Flippers</h2>

<h1>Penguin Species</h1>
<h2>2. Does Species affect the weight of a Panguin</h2>

In [61]:
np.round(Adelie['weight'].mean(), 1)

np.float64(3.7)

In [62]:
np.round(Chinstrap['weight'].mean(), 1)

np.float64(3.7)

In [63]:
np.round(Gentoo['weight'].mean(), 1)

np.float64(5.1)

<h2>Insight 4-6: The data show that there might be a chance that species affects the weight of a penguin with Gentoo being the Haviest compare to the other 2. but also show that it's not the case for Adelie and Chistrap having the same average weight</h2>

<h2>Insight 7: The data show that the Haviest Species among the 3 are Gentoo</h2>

<h1> 8. What year has the most recorded data for male - Adelie</h1>

In [64]:
birds_agg = birds.groupby(['species',  'sex', 'year']).size()

C:\Users\LAB4-StudentPC23\AppData\Local\Temp\ipykernel_13384\3470571674.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  birds_agg = birds.groupby(['species', 'sex', 'year']).size()

In [65]:
birds_agg

species    sex     year
Adelie     female  2007    22
                   2008    25
                   2009    26
           male    2007    28
                   2008    25
                   2009    26
Chinstrap  female  2007    13
                   2008     9
                   2009    12
           male    2007    13
                   2008     9
                   2009    12
Gentoo     female  2007    16
                   2008    22
                   2009    20
           male    2007    18
                   2008    24
                   2009    24
dtype: int64

In [66]:
birds_agg.unstack()

year              2007  2008  2009
species   sex
Adelie    female    22    25    26
          male      28    25    26
Chinstrap female    13     9    12
          male      13     9    12
Gentoo    female    16    22    20
          male      18    24    24

<h2>Insight 8: The data show that 2007 has the most recorded male Adelie</h2>

<h1>9. Which is heavier berween species in terms of sex?</h1>

In [67]:
ws = np.round(birds.groupby(['species', 'sex'])['weight'].mean(), 1)

C:\Users\LAB4-StudentPC23\AppData\Local\Temp\ipykernel_13384\208045695.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  ws = np.round(birds.groupby(['species', 'sex'])['weight'].mean(), 1)

In [68]:
ws.unstack()

sex        female  male
species
Adelie        3.4   4.0
Chinstrap     3.5   3.9
Gentoo        4.7   5.4

<h2>Insight 9: The data shows that the male Penguins in every species is much heavier than female Penguins</h2>

<h1>10. What year is the highest weight of male and female penguins?</h1>

In [69]:
ws = np.round(birds.groupby(['sex', 'year'])['weight'].mean(), 1)

C:\Users\LAB4-StudentPC23\AppData\Local\Temp\ipykernel_13384\991954054.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  ws = np.round(birds.groupby(['sex', 'year'])['weight'].mean(), 1)

In [70]:
ws.unstack()

year    2007  2008  2009
sex
female   3.8   3.9   3.9
male     4.4   4.6   4.5

<h2>Insight 10: The data shows that the year with the highest weight of male are 2008 with the average weight of 4.6 and the year with the highest weight of female is both 2008 and 2009 with the average weight of 3.9</h2>

<h1>11. Correlation Between Bill lenght and Bill depth</h1>

In [71]:
blength_bdepth = birds['bill_length_mm'].corr(birds['bill_depth_mm'])

In [72]:
blength_bdepth

np.float64(-0.23505287035553282)

<h2>Insight 11: There is no Correlation Between Bill Length and Bill Depth</h2>

<h1>12-14. Find 3 Correlation</h1>

<h1>12. Does the weight of the penguins affect the length of thier Flippers?</h1>

In [73]:
wflippers = birds['weight'].corr(birds['flipper_length_mm'])

In [74]:
wflippers

np.float64(0.8711960136081922)

<h2>Insight 12: There is a correlation between weight and Flipper Length</h2>

<h1>13. Does the Flippers length of a penguins affect the their Bill Length?</h1>

In [75]:
flength_blength = birds['bill_length_mm'].corr(birds['flipper_length_mm'])

In [76]:
flength_blength

np.float64(0.6561813407464278)

<h2>Insight 13: There is a correlation between their Bill Length and Flipper Length</h2>

<h1>14. Does the body mass of a penguins affect the Length of their bill?</h1>

In [77]:
bodymass_blength= birds['body_mass_g'].corr(birds['bill_length_mm'])

In [78]:
bodymass_blength

np.float64(0.5951098244376305)

<h2>Insight 14: There is a correlation between their Body mass and Bill length</h2>

<h1></h1>

In [95]:
birds_agg = birds.groupby(['species', 'island', 'sex', 'year']).size()

C:\Users\LAB4-StudentPC23\AppData\Local\Temp\ipykernel_13384\1333520985.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  birds_agg = birds.groupby(['species', 'island', 'sex', 'year']).size()

In [96]:
birds_agg

species    island     sex     year
Adelie     Biscoe     female  2007     5
                              2008     9
                              2009     8
                      male    2007     5
                              2008     9
                              2009     8
           Dream      female  2007     9
                              2008     8
                              2009    10
                      male    2007    11
                              2008     8
                              2009    10
           Torgersen  female  2007     8
                              2008     8
                              2009     8
                      male    2007    12
                              2008     8
                              2009     8
Chinstrap  Biscoe     female  2007     0
                              2008     0
                              2009     0
                      male    2007     0
                              2008     0
                              2009     0
           Dream      female  2007    13
                              2008     9
                              2009    12
                      male    2007    13
                              2008     9
                              2009    12
           Torgersen  female  2007     0
                              2008     0
                              2009     0
                      male    2007     0
                              2008     0
                              2009     0
Gentoo     Biscoe     female  2007    16
                              2008    22
                              2009    20
                      male    2007    18
                              2008    24
                              2009    24
           Dream      female  2007     0
                              2008     0
                              2009     0
                      male    2007     0
                              2008     0
                              2009     0
           Torgersen  female  2007     0
                              2008     0
                              2009     0
                      male    2007     0
                              2008     0
                              2009     0
dtype: int64

<h1>Correlational Analysis Between Quantitative and Qualitative  Data</h1>

<h2>Use of One Way Annova</h2>

In [80]:
from scipy.stats import f_oneway

<h2>Testing Correlation between Body mass and sex</h2>

In [91]:
male_mass = birds[birds['sex'] == 'male']['body_mass_g']
female_mass = birds[birds['sex'] == 'female']['body_mass_g']

In [92]:
f_stats, p_value = f_oneway(male_mass, female_mass)

In [90]:
p_value

np.float64(3.0226600487050246e-15)

<h1>15. Correlation Between island and Body mass</h1>

In [97]:
Biscoe_mass = birds[birds['island'] == 'Biscoe']['body_mass_g']
Dream_mass = birds[birds['island'] == 'Dream']['body_mass_g']
Torgersen_mass = birds[birds['island'] == 'Torgersen']['body_mass_g']

In [105]:
f_stats, p_value = f_oneway(Biscoe_mass, Dream_mass, Torgersen_mass)
p_value

np.float64(1.750146154234633e-37)

<h1>16. Correlation Between Species and Bill Length</h1>

In [101]:
Adelie_bill = birds[birds['species'] == 'Adelie']['bill_length_mm']
Chinstrap_bill = birds[birds['species'] == 'Chinstrap']['bill_length_mm']
Gentoo_bill = birds[birds['species'] == 'Gentoo']['bill_length_mm']

In [103]:
f_stats, p_value = f_oneway(Adelie_bill, Chinstrap_bill, Gentoo_bill)
p_value

np.float64(7.233266188149441e-91)

<h1>Extra: Correlation Between Sex and Bill Length</h1>

In [106]:
male_bill = birds[birds['sex'] == 'male']['bill_length_mm']
female_bill = birds[birds['sex'] == 'female']['bill_length_mm']
f_stats, p_value = f_oneway(male_bill, female_bill)
p_value

np.float64(9.307501289283404e-10)

<h1>Extra: Correlation Between year and Body Mass</h1>

In [116]:
y2007 = birds[birds['year'] == 2007]['body_mass_g']
y2008 = birds[birds['year'] == 2008]['body_mass_g']
y2009 = birds[birds['year'] == 2009]['body_mass_g']
f_stats, p_value = f_oneway(y2007, y2008, y2009)
p_value

np.float64(0.4135214452351541)